/*
 * Reusable Components Style
 */

 /* button */
 .button{
 	display: inline-block;
 	padding: 10px 30px;
 	background-color: $accent-color;
 	color: white;
 	font-family: $primary-font;
 	transition: .3s ease;

 	&.invert{
 		background-color: white;
 		color: $accent-color;
 		font-weight: 700;

 		&:hover{
 			background-color: rgba(255,255,255,.8);
 		}
 	}

 	&:hover{
 		background-color: lighten($accent-color,8%);
 	}
 }

/* fullwidth-block */
.fullwidth-block{
	padding: 30px 0 50px;
	overflow: hidden;
}

 /* section title */
 .section-title{
 	@include em(60);
 	padding-bottom: 45px;
 	position: relative;
 	text-align: center;
 	font-weight: 400;
 	margin: 30px 0 50px;
 	color: $strong-color;

 	.dark-bg &{ color: white }

 	&:after{
 		content:" ";
 		width: 50px;
 		height: 5px;
 		background-color: rgba(255,255,255,.5);
 		position: absolute;
 		left:0;
 		right:0;
 		bottom:0;
 		margin: auto;
 	}
 }
/* section description */
 .section-desc{
 	text-align: center;
 	margin-top: 0;
 	margin-bottom: 50px;
 }

/* Counter */
.counter{
 	@extend .col-md-3;
 	@extend .col-xs-6;

 	margin-bottom: 30px;
 	border-right: 1px solid #dadada;
 	text-align: center;

 	@media screen and (max-width:640px){ border-right: none}
 	

 	&.last{ border-right: none }

 	.counter-icon{
 		margin-bottom: 20px;
 	}
 	.counter-num{
 		@include em(72);
 		margin-bottom: 0;
 		color: $accent-color;
 		line-height: 70px;
 	}
 	.counter-label{
 		@include em(18);
 		font-family: $primary-font;
 	}
}

/* Team */
.team{
	text-align: center;
	margin-bottom: 30px;
	.team-image{
		overflow: hidden;
		border-radius: 50%;
		margin-bottom: 20px;
		width: 250px;
		height: 250px;
		display: inline-block;

		img{
			display: block;
		}
	}
	.team-name{
		@include em(21);
		color: white;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.team-desc{
		@include em(16);
	}
	.team-social{
		margin-top: 20px;
		a{
			width: 35px;
			height: 35px;
			border-radius: 50%;
			display: inline-block;
			background-color: $accent-color;
			color: white;
			text-align: center;
			line-height: 2.3;
			transition: .3s ease;

			&:hover{
				background-color: lighten( $accent-color, 10%);
			}
		}
	}
	&.image-left{
		padding-left: 370px;
		position: relative;
		min-height: 250px;
		text-align: left;
		margin: 50px 0 100px;
		box-sizing: padding-box;

		@media screen and (max-width: 990px){ padding-left: 300px }
		@media screen and (max-width: 640px){ 
			padding-left: 0;
			text-align: center;
		}

		.team-image{
			width: 260px;
			height: 260px;
			border: 10px solid #dedede;
			position: absolute;
			left:0;
			top:0;

			@media screen and (max-width: 640px){ 
				position: relative;
				margin: 0 auto 30px;
			}

			img{
				width: 100%;
				max-width: 100%;
			}
		}

		.team-name{
			text-transform: uppercase;
			color: $accent-color;
			@include em(24);
		}
		.team-desc{
			display: block;
			margin-bottom: 20px;
		}

		.team-social{
			a{
				width: 45px;
				height: 45px;
				line-height: 2.4;
				@include em(20);
			}
		}
	}
}
/* feature */
.feature-grid{
	@include clearfix;
}
.feature{
	margin-bottom: 30px;
	padding-left: 100px;
	position: relative;

	.feature-icon{
		position: absolute;
		top:0;
		left:0;
		width: 70px;
		height: 70px	;
		border-radius: 50%;
		background-color: $accent-color;
		text-align: center;
		line-height: 5.8;
		img{
			display: inline-block;
		}
	}
	.feature-title{
		@include em(18);
		color: $accent-color;
	}

	.feature-grid &{
		@extend .col-md-4;
		@extend .col-sm-6;
		background: $secondary-color;
		margin-bottom: 0;
		padding: 50px 30px!important;
		text-align: center;

		&:nth-child(even){
			background-color: #242424;
		}
		.feature-image{ margin-bottom: 20px }
		.feature-title{
			@include em(36);
			margin-bottom: 10px;
			color: white;
			text-transform: uppercase;
			white-space: nowrap;
			display: inline-block;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p{margin-bottom: 0}
	}

}

/* news */

.news{
	list-style: none;
	padding-left: 0;
	margin: 0 0 50px;

	li{
		position: relative;
		padding-left: 100px;
		min-height: 100px;
		margin-bottom: 10px;

		.entry-date{
			position: absolute;
			display: block;
			left:0;
			top:0;
			width: 100px;
			height: 100%;
			background-color: white;
			text-align: center;
			padding-top: 10px;

			.date{
				color: $accent-color;
				@include em(48);
				font-weight: 700;
				display: block;
			}
			.month{
				font-family: $primary-font;
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		.entry-summary{
			padding: 20px 30px;
			color: white;
			background-color: #d13939;
			min-height: 100px;
			@include em(18);
			line-height: 1.5;
		}
	}
}

/* Галерея item */
.gallery-item{
	margin-bottom: 30px;
	.featured-image{
		position: relative;
		margin-bottom: 0;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
		}

		figcaption{
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 10px 20px;
			color: white;
			font-family: $primary-font;
			background-color: $secondary-color;
			border-bottom: 3px solid $accent-color;
		}
	}
}

/* Filterable nav */
.filterable-nav{
	display: inline-block;
	margin: 0 auto;
	padding: 0 80px;
	border: 2px solid #dfdfdf;
	margin-bottom: 50px;

	.mobile-filter{
		display: none;
	}

	a{
		padding: 20px 10px;
		display: inline-block;
		margin-bottom:-2px;
		color: #dfdfdf;
		text-transform: uppercase;
		font-family: $primary-font;
		border-bottom: 1px solid transparent;
		transition: .3s ease;

		&.current, &:hover{ 
			border-bottom: 2px solid $accent-color;
			color: $accent-color;
		}
	}
}

/* Filterable items */
.filterable-items .filterable-item {
  transition-property: transform, opacity;
  transition-duration: .3s;
}
.filterable-items{margin: 0 -15px;}
.filterable-item{
	padding: 0 15px;
	width: 33.3333%;
	float: left;

	@media screen and (max-width: 768px){width: 50%}
	@media screen and (max-width: 480px){width: 100%}
}
/**** disabling Isotope CSS3 transitions ****/
/* line 435, ../sass/template/_components.scss */
.filterable-items.no-transition,
.filterable-items.no-transition .filterable-item,
.filterable-items .filterable-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.contact-form{
	margin-bottom: 50px;
	
	#name{@include at2x("images/icon-contact-name","png",38px, 19px)}
	#email{@include at2x("images/icon-contact-email","png",36px, 19px)}
	#website{@include at2x("images/icon-contact-globe","png",36px, 19px)}
	#message{
		@include at2x("images/icon-contact-pencil","png", 36px, 19px);
		min-height: 200px;
	}
}

.map{
	min-height: 350px;
}
address{
	background: $secondary-color;
	color: white;
	font-family: $primary-font;
	border-bottom: 3px solid $accent-color;
	padding: 10px 20px;
	@include em(14);

	a{
		color: white;
		margin-left: 20px;
	}
}

/* IMAGE LIGHTBOX SELECTOR */

#imagelightbox
{
	cursor: pointer;
	position: fixed;
	z-index: 10000;

	-ms-touch-action: none;
	touch-action: none;

	-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
	box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}


/* ACTIVITY INDICATION */

#imagelightbox-loading,
#imagelightbox-loading div
{
	border-radius: 50%;
}
#imagelightbox-loading
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	position: fixed;
	z-index: 10003;
	top: 50%;
	left: 50%;
	padding: 0.625em; /* 10 */
	margin: -1.25em 0 0 -1.25em; /* 20 */

	-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
	box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 ); /* 40 */
}
	#imagelightbox-loading div
	{
		width: 1.25em; /* 20 */
		height: 1.25em; /* 20 */
		background-color: #fff;

		-webkit-animation: imagelightbox-loading .5s ease infinite;
		animation: imagelightbox-loading .5s ease infinite;
	}

	@-webkit-keyframes imagelightbox-loading
	{
		from { opacity: .5;	-webkit-transform: scale( .75 ); }
		50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
		to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
	}
	@keyframes imagelightbox-loading
	{
		from { opacity: .5;	transform: scale( .75 ); }
		50%	 { opacity: 1;	transform: scale( 1 ); }
		to	 { opacity: .5;	transform: scale( .75 ); }
	}


/* OVERLAY */

#imagelightbox-overlay
{
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .9 );
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
	width: 2.5em; /* 40 */
	height: 2.5em; /* 40 */
	text-align: left;
	border: none;
	background-color: #666;
	border-radius: 50%;
	position: fixed;
	z-index: 10002;
	top: 2.5em; /* 40 */
	right: 2.5em; /* 40 */

	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}
	#imagelightbox-close:hover,
	#imagelightbox-close:focus
	{
		background-color: #111;
	}
	#imagelightbox-close:before,
	#imagelightbox-close:after
	{
		width: 2px;
		background-color: #fff;
		content: '';
		position: absolute;
		top: 20%;
		bottom: 20%;
		left: 50%;
		margin-left: -1px;
	}
	#imagelightbox-close:before
	{
		-webkit-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}
	#imagelightbox-close:after
	{
		-webkit-transform: rotate( -45deg );
		-ms-transform: rotate( -45deg );
		transform: rotate( -45deg );
	}


/* CAPTION */

#imagelightbox-caption
{
	text-align: center;
	color: #fff;
	background-color: #666;
	position: fixed;
	z-index: 10001;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625em; /* 10 */
}


/* NAVIGATION */

#imagelightbox-nav
{
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	border-radius: 20px;
	position: fixed;
	z-index: 10001;
	left: 50%;
	bottom: 3.75em; /* 60 */
	padding: 0.313em; /* 5 */

	-webkit-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	transform: translateX( -50% );
}
	#imagelightbox-nav button
	{
		width: 1em; /* 20 */
		height: 1em; /* 20 */
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		margin: 0 0.313em; /* 5 */
	}
	#imagelightbox-nav button.active
	{
		background-color: #fff;
	}


/* ARROWS */

.imagelightbox-arrow
{
	width: 3.75em; /* 60 */
	height: 7.5em; /* 120 */
	background-color: #444;
	background-color: rgba( 0, 0, 0, .5 );
	vertical-align: middle;
	display: none;
	position: fixed;
	z-index: 10001;
	top: 50%;
	margin-top: -3.75em; /* 60 */
	border: none;
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
	background-color: #666;
	background-color: rgba( 0, 0, 0, .75 );
}
.imagelightbox-arrow:active
{
	background-color: #111;
}
	.imagelightbox-arrow-left
	{
		left: 2.5em; /* 40 */
	}
	.imagelightbox-arrow-right
	{
		right: 2.5em; /* 40 */
	}
	.imagelightbox-arrow:before
	{
		width: 0;
		height: 0;
		border: 1em solid transparent;
		content: '';
		display: inline-block;
		margin-bottom: -0.125em; /* 2 */
	}
		.imagelightbox-arrow-left:before
		{
			border-left: none;
			border-right-color: #fff;
			margin-left: -0.313em; /* 5 */
		}
		.imagelightbox-arrow-right:before
		{
			border-right: none;
			border-left-color: #fff;
			margin-right: -0.313em; /* 5 */
		}

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
	-webkit-animation: fade-in .25s linear;
	animation: fade-in .25s linear;
}
	@-webkit-keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}
	@keyframes fade-in
	{
		from	{ opacity: 0; }
		to		{ opacity: 1; }
	}

@media only screen and (max-width: 41.250em) /* 660 */
{
	#container
	{
		width: 100%;
	}
	#imagelightbox-close
	{
		top: 1.25em; /* 20 */
		right: 1.25em; /* 20 */
	}
	#imagelightbox-nav
	{
		bottom: 1.25em; /* 20 */
	}

	.imagelightbox-arrow
	{
		width: 2.5em; /* 40 */
		height: 3.75em; /* 60 */
		margin-top: -2.75em; /* 30 */
	}
	.imagelightbox-arrow-left
	{
		left: 1.25em; /* 20 */
	}
	.imagelightbox-arrow-right
	{
		right: 1.25em; /* 20 */
	}
}

@media only screen and (max-width: 20em) /* 320 */
{
	.imagelightbox-arrow-left
	{
		left: 0;
	}
	.imagelightbox-arrow-right
	{
		right: 0;
	}
}